// src/styles/_tokens.scss
// 引入 Minecraftia 字体
@font-face {
  font-family: 'Minecraftia';
  src: url('/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MinecraftV2';
  src: url('/fonts/MinecraftV2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #262626;
  --secondary: #171717;
  --accent: #2563eb;
  --text: #f3f3f3;
}
