@charset "UTF-8";

@use 'tokens';
@use 'hud';

@import "tailwindcss";

:root {
  --primary: #262626;
  --secondary: #171717;
  --tertiary: #404040;
  --color: #f3f3f3;
  --accent-primary: #2563eb;
  --accent-primary-state: #1d4ed8;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
